{% extends 'base/base.html' %}
    {% block head_content %}
        <title>Posts</title>
    {% endblock %}
    
    {% block container %}
        <h1>Lista de Posts</h1>
        {% for post in posts %}
            <div>
                <strong>{{post.titulo}}</strong>
                <figure>
                    <img class="post_img" width="300" src="{{post.foto}}" alt="{{post.autor}}">
                </figure>
                <small>{{post.autor}}</small>
                <p>{{post.descripcion}}</p>
            </div>
            <hr>
        {% endfor %}    
    
    {% endblock %}