{% extends 'base/base.html' %}

{% block head_content %}
  <title>Login</title>
{% endblock head_content %}

{% block container %}        
    <h1>Login</h1>
       
    {% if error %}
        <small style="color:red">{{error}}</small>
    {% endif %}

    <form action="{% url "login" %}" method="post">
        {% csrf_token %}

        <input type="text" name="username" id="username" placeholder="username">
        <input type="password" name="password" id="password" placeholder="password">
        <button type="submit">Enviar</button>
    </form>

{% endblock %}